@model SustainAndGain.Models.ModelViews.CompetitionVM[]
@{
    ViewData["Title"] = "UserLayout";
}
    <link href="~/css/UserLayout.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />

    <div class="navbar">

        <ul>
        
            <li>
                <img src="~/Img/profile.png" />

            </li>
            <li>
                <img src="~/Img/Plusprofile.png" />
                
            </li>
            <li>

                <img src="~/Img/Userprofile.png" />
                
            </li>
        </ul>

    </div>
@* SLides for tävlingar *@
    <h2>Tävling</h2>
    <div class="slideContainer" >
        <div class="slide">
            <p>@Model[0].StartTime</p>
            <p> @Model[0].IsOngoing </p>
            <p>@Model[0].EndTime</p>
            <p>@Model[0].Name</p>



        </div>
        <div class="slide">
            <p>@Model[1].StartTime</p>
            <p> @Model[1].IsOngoing </p>
            <p>@Model[1].EndTime</p>
            <p>@Model[1].Name</p>
        </div>
        <div class="slide">
            <p>@Model[2].StartTime</p>
            <p> @Model[2].IsOngoing </p>
            <p>@Model[2].EndTime</p>
            <p>@Model[2].Name</p>
        </div>
        <div class="slide">
            <p>@Model[3].StartTime</p>
            <p> @Model[3].IsOngoing </p>
            <p>@Model[3].EndTime</p>
            <p>@Model[3].Name</p>
        </div>
        
        
    </div>


   