@model SustainAndGain.Models.ModelViews.CompetitionVM[]
@{
    ViewData["Title"] = "UserLayout";
}
    <link href="~/css/UserLayout.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />

    <div class="navbar">

        <ul>
        
            <li>
                <img src="~/Img/profile.png" />

            </li>
            <li>
                <img src="~/Img/Plusprofile.png" />
                
            </li>
            <li>

                <img src="~/Img/Userprofile.png" />
                
            </li>
        </ul>

    </div>

@* SLides for tävlingar *@
    <h2>Tävling</h2>
    <div class="slideContainer" >
        <div id="slide1" class="slide">
            <p>Competition: @Model[0].Name</p>

            <p>Starting: @Model[0].StartTime</p>
            <p>Ends: @Model[0].EndTime</p>
            <p>@Model[0].IsOngoing </p>


            @if (Model[0].HasJoined)
            {
                <a asp-controller="Stocks"
                   asp-action="Portfolio"
                   asp-route-id="@Model[0].Id">Go to Portfolio</a>
            }
            else
            {
                <input id="btnSave" type="submit" value="Join" class="btn btn-primary" />

            }

        </div>
        <div class="slide">
            <p>
            Competition: @Model[1].Name</p>
            
            <p>Starting: @Model[1].StartTime</p>
            <p>Ends: @Model[1].EndTime</p>
            <p>@Model[1].IsOngoing </p>
            <input type="submit" value="Join" class="btn btn-primary" />

                </div>
                <div class="slide">
                    <p>Competition: @Model[2].Name</p>

                    <p>Starting: @Model[2].StartTime</p>
                    <p>Ends: @Model[2].EndTime</p>
                    <p>@Model[2].IsOngoing </p>

                    <input type="submit" value="Join" class="btn btn-primary" />


                </div>
                <div class="slide">
                    <p>Competition: @Model[3].Name</p>

                    <p>Starting: @Model[3].StartTime</p>
                    <p>Ends: @Model[3].EndTime</p>
                    <p>@Model[3].IsOngoing </p>
                    <input type="submit" value="Join" class="btn btn-primary" />

                </div>


            </div>


    <script>
          $("#btnSave").click(function () {  
            $.ajax(  
            {  
                type: "POST", //HTTP POST Method  
                url: "Stocks/InsertAjax", // Controller/View   
                data: { //Passing data  
                     //Reading text box values using Jquery   
                    UserId: $("@Model[0].UserId").val(),  
                    CompId: $("@Model[0].Id").val()
                }  
  
            });  

    </script>


   