@model SustainAndGain.Models.ModelViews.CompetitionVM[]
@{
    ViewData["Title"] = "UserLayout";
}
<link href="~/css/UserLayout.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
<div class="navbar">

    <ul>

        <li>
            <img src="~/Img/profile.png" />

        </li>
        <li>
            <img src="~/Img/Plusprofile.png" />

        </li>
        <li>

            <img src="~/Img/Userprofile.png" />

        </li>
    </ul>

</div>

@* SLides for tävlingar *@
<h1>Competitions</h1>
<img id="CompPro" src="~/Img/CompProfile.png" />
<div class="slideContainer">
    @for (int i = 0; i < 4; i++)
    {
        <div id="slide" class="slide">

            <h2>Competition: @Model[i].Name</h2>

            <h4>Starting: @Model[i].StartTime</h4>
            <h4>Ends: @Model[i].EndTime</h4>


            <form><button id="portfolio@(i)" asp-controller="PortFolio" asp-action="Portfolio" asp-route-compId="@Model[i].Id" style="display:none;">Go to portfolio</button></form>
            <input id="join@(i)" onclick="Join(@(i))" type="submit" value="Join" class="btn btn-primary" style="display:none;" />
           
            @if (Model[i].HasJoined)
            {
                <script>
                    $(document).ready(function() {
  $("#portfolio@(i)").css("display", "block");
});
                    
                </script>
            }
            else
            {
                <script>
                       $(document).ready(function() {
                           $("#join@(i)").css("display", "block");
                           });
                </script>
            }

        </div>
    }


</div>


<script>
      let codeblocks = []

        @foreach (var item in Model)
        {
            @:codeblocks.push([@item.Id])
        }




            //Reading text box values using Jquery
    function Join(number) {
        console.log(number);

            var obj = { "UserId": "@Model[0].UserId", "CompId": String(codeblocks[number]) };
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "Stocks/InsertAjax",
                    contentType: 'application/json',
                    data: JSON.stringify(obj),
                    success: function () {
                        $(`#join${number}`).css("display", "none");
                        $(`#portfolio${number}`).css("display", "block");

                    },
                    error: function () {
                        $("#messageDiv").html();
                    }
                })


    }
</script>


