@model SustainAndGain.Models.ModelViews.CompetitionVM[]
@{
    ViewData["Title"] = "UserLayout";
}
<link href="~/css/UserLayout.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />
@*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>*@

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom-left-radius: 25px; border-bottom-right-radius:25px;-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);">

    <a class="navbar-brand navbar-brand-logo">
        <div class="logo">
            <img id="CompPro" src="~/Img/CompProfile.png" />
        </div>

    </a>
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="font-family:Quicksand; font-size:4vh;">List Of Stocks<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Stocks" asp-action="UserLayout">Competitions</a>
            </li>


        </ul>

    </div>
</nav>

<div class="section hpanel leftpan">
    <div class="background-img">
        <slider>
            <slide></slide>
            <slide></slide>
            <slide></slide>
            <slide></slide>
            <slide></slide>
            <slide></slide>

        </slider>
    </div>
</div>
<div class="section hpanel rightpan">
    <div class="background-img">

    </div>
</div>

<div class="slideContainer">
    @for (int i = 0; i < 4; i++)
    {
        <div id="slide" class="slide">

            <h2>Competition: @Model[i].Name</h2>

            <h4>Days left: @Model[i].DaysLeft</h4>
            <h4>Ends: @Model[i].EndTime.Date</h4>


            <form><button id="portfolio@(i)" asp-controller="PortFolio" asp-action="Portfolio" asp-route-compId="@Model[i].Id" style="display:none;">Go to portfolio</button></form>
            <input id="join@(i)" onclick="Join(@(i))" type="submit" value="Join" class="btn btn-primary" style="display:none;" />

            @if (Model[i].HasJoined)
            {
                <script>
                    $(document).ready(function() {
  $("#portfolio@(i)").css("display", "block");
});

                </script>
            }
            else
            {
                <script>
                       $(document).ready(function() {
                           $("#join@(i)").css("display", "block");
                           });
                </script>
            }

        </div>
    }


</div>


<script>
      let codeblocks = []

        @foreach (var item in Model)
        {
            @:codeblocks.push([@item.Id])
        }




            //Reading text box values using Jquery
    function Join(number) {
        console.log(number);

            var obj = { "UserId": "@Model[0].UserId", "CompId": String(codeblocks[number]) };
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "Stocks/InsertAjax",
                    contentType: 'application/json',
                    data: JSON.stringify(obj),
                    success: function () {
                        $(`#join${number}`).css("display", "none");
                        $(`#portfolio${number}`).css("display", "block");

                    },
                    error: function () {
                        $("#messageDiv").html();
                    }
                })


    }
</script>


