@model SustainAndGain.Models.ModelViews.CompetitionVM[]
@{
    ViewData["Title"] = "UserLayout";
}
<link href="~/css/UserLayout.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />
@*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>*@


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" >
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li id="iconbar" class="nav-item">

                        <span data-feather="home"></span>



                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="UserLayout">Competitions</a>
                    </li>

                  

                </ul>



            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div style="z-index:6;" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <img id="PortPro" src="~/Img/PortfolioProfile.png" />
                    <h1 style="font-family:Quicksand;" class="h2"></h1>
                    <div class="btn-toolbar mb-2 mb-md-0">


                    </div>
                </div>
                <div class="section hpanel leftpan">
                    <div class="background-img">
                        <slider>
                            <slide></slide>
                            <slide></slide>
                            <slide></slide>
                            <slide></slide>
                            <slide></slide>
                            <slide></slide>

                        </slider>
                    </div>
                </div>
                <div class="section hpanel rightpan">
                    <div class="background-img">

                    </div>
                </div>

                <div class="slideContainer">

                 


                    @for (int i = 0; i < 4; i++)
                    {
                        <div class="wrapper">
                            <div id="id@(i)" class="clash-card barbarian" style="padding-top:20px;">
                               
                                
                                <div class="clash-card__unit-name">@Model[i].Name</div>
                                <div class="clash-card__unit-description">
                                    @if (i == 0)
                                    {
                                       
                                    }
                                    <form><button id="portfolio@(i)" asp-controller="PortFolio" asp-action="Portfolio" asp-route-compId="@Model[i].Id" style="display:none;">Go to portfolio</button></form>
                                    <input id="join@(i)" onclick="Join(@(i))" type="submit" value="Join" class="btn btn-primary" style="display:none;" />
                                    @if (Model[i].HasJoined)
                                    {
                                        <script>
                        $(document).ready(function() {
      $("#portfolio@(i)").css("display", "block");
    });

                                        </script>
                                    }
                                    else
                                    {
                                        <script>
                           $(document).ready(function() {
                               $("#join@(i)").css("display", "block");
                               });
                                        </script>
                                    }

                                </div>

                                <div id="stats@(i)" class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                                    <div class="one-third">
                                        <div class="stat">@Model[i].DaysLeft</div>
                                        <div class="stat-value">Days left</div>
                                    </div>

                                    @*<div class="one-third">
                                        <div class="stat"></div>
                                        <div class="stat-value"></div>
                                    </div>*@

                                    <div class="one-third no-border">
                                        <div class="stat">@Model[i].EndTime.ToString("MMMM dd")</div>
                                        <div class="stat-value">End</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }





                </div>


            </div>








        </main>
    </div>
</div>




            




<script>


     let codeblocks = []

        @foreach (var item in Model)
        {
            @:codeblocks.push([@item.Id])
        }


         function Join(number) {
        console.log(number);

            var obj = { "UserId": "@Model[0].UserId", "CompId": String(codeblocks[number]) };
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "/InsertAjax",
                    contentType: 'application/json',
                    data: JSON.stringify(obj),
                    success: function () {
                        $(`#join${number}`).css("display", "none");
                        $(`#portfolio${number}`).css("display", "block");

                    },
                    error: function () {
                        $("#messageDiv").html();
                    }
                })


                    }

</script>

@*<div class="card">
        <img src="~/Img/SustainPro.png" />
        <div class="card-img-top"></div>
        <div class="card-body">
            <h4>  @Html.DisplayNameFor(model => model[i].DaysLeft):</h4>


            <h4> @Html.DisplayFor(model => model[i].DaysLeft) days </h4>

        </div>
    </div>

    <div id="slide" class="slide">

        <h2>Competition: @Model[i].Name</h2>

        <h4>Days left: @Model[i].DaysLeft</h4>
        <h4>Ends: @Model[i].EndTime.Date</h4>


        <form><button id="portfolio@(i)" asp-controller="PortFolio" asp-action="Portfolio" asp-route-compId="@Model[i].Id" style="display:none;">Go to portfolio</button></form>
        <input id="join@(i)" onclick="Join(@(i))" type="submit" value="Join" class="btn btn-primary" style="display:none;" />*@

        
    




