@model IEnumerable<SustainAndGain.Models.ModelViews.CalculatedPriceVM>
    <style>
        table {
            background-color: #fff;
            transition: all 1s;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.06);


        }
        thead{
             background-color: #fff;
        }
        table th img {
            position: absolute;
            width: 45%;
            border-radius: 50%;
            right: -15px;
            top: -15px;
            transition: all 1s;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.06);
        }
        table th img:hover{
             transform:scale(1.2);
        }
    </style>




    <table class="table table-hover">
        <thead>
            <tr>
                <th >
                    @Html.DisplayNameFor(model => model.Symbol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSustainable)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.PurchasePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarketValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Return)
                </th>
                <th>
                    </th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @if (item.IsSustainable == true)
                        {
                            <img style="height:5vh; border-radius:50%;" src="~/Img/SustainPro.png" />
                        }
                        else
                        {
                            <img style="height:5vh; border-radius:50%; " src="~/Img/NoPro.png" />
                        }
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Return) %
                    </td>
                    <td>


                        <button id="@item.Symbol" onclick="SellOrder('@item.Symbol', '@item.CompetitionId')">Sell</button>

                    </td>
                </tr>
            }
        </tbody>
        
    </table>

<div id="divOrderEntrySell"></div>

<script>


    function SellOrder(symbol, competitionId) {
        console.log("runningOrderEntrySell")
        // Make AJAX call
        var url = `/portfolio/OrderEntrySell/${symbol}/${competitionId}`;
        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                $("#divOrderEntrySell").html(result),
                    window.onlocation
                console.log("finishedOrderEntry");
            }
        });
    }

</script>
<script src="~/Js/Templates/main.js"></script>
