@model IEnumerable<SustainAndGain.Models.ModelViews.CalculatedPriceVM>

    <h4>List of current holdings</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSustainable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyOrSell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Return)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSustainable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyOrSell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Return)
            </td>
            <td>
                <button id="@item.Symbol" onclick="SellOrder('@item.Symbol', '@item.CompetitionId')">Sell</button>

            </td>
        </tr>
}
    </tbody>
</table>

<div id="divOrderEntrySell"></div>

<script>


    function SellOrder(symbol, competitionId) {
        console.log("runningOrderEntrySell")
        // Make AJAX call
        var url = `/portfolio/OrderEntrySell/${symbol}/${competitionId}`;
        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                $("#divOrderEntrySell").html(result),
                    window.onlocation
                console.log("finishedOrderEntry");
            }
        });
    }

</script>