@model IEnumerable<SustainAndGain.Models.ModelViews.OrderVM>

<p>
    <a asp-action="AddOrder">AddOrder</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfInsertion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyOrSell)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfInsertion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyOrSell)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
