@model IEnumerable<SustainAndGain.Models.ModelViews.OrderVM>

<h4>Current pending orders</h4>
<h4>Pending orders will be executed daily at 09:05 CET, 13:05 CET and 17:30 CET</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfInsertion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyOrSell)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfInsertion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyOrSell)
            </td>
            <td>
                <form a asp-controller="PortFolio" asp-action="DeleteOrder" asp-route-id="@item.OrderId"><input type="submit" value="Delete order" /></form>
            </td>
        </tr>
}
    </tbody>
</table>
