@model IEnumerable<SustainAndGain.Models.ModelViews.OrderVM>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfInsertion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyOrSell)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfInsertion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyOrSell)
            </td>
            <td>
                <form a asp-controller="PortFolio" asp-action="DeleteOrder" asp-route-id="@item.OrderId"><input type="submit" value="Delete order" /></form>
                @*<a asp-controller="Portfolio" asp-action="DeleteOrder" asp-route-compId="@item.OrderId">Delete pending order</a>*@
                @*<a href="Portfolio/deleteorder/@item.OrderId">Delete this order</a>*@
                @*<button id="@item.Symbol" onclick="OrderEntry('@item.Symbol', '@item.CompetitionId')">Buy</button>*@
            </td>
        </tr>
}
    </tbody>
</table>
