@model IEnumerable<SustainAndGain.Models.ModelViews.OrderVM>

<style>
    table {
        background-color: #fff;
        transition: all 1s;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.06);
    }

    th {
        position: relative;
    }

    
</style>


@if (@Model.ToList().Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Symbol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfInsertion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuyOrSell)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOfInsertion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuyOrSell)
                    </td>
                    <td>
                        <form a asp-controller="PortFolio" asp-action="DeleteOrder" asp-route-id="@item.OrderId"><input type="submit" value="Delete order" /></form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
