@model SustainAndGain.Models.ModelViews.PortfolioVM

@{
    ViewData["Title"] = "Portfolio";
}

<h1>Portfolio</h1>

<div>
    <h4>PortfolioVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableCapital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestedCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestedCapital)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
