@model SustainAndGain.Models.ModelViews.PortfolioVM

@{
    ViewData["Title"] = "Portfolio";
}

<h1>Portfolio</h1>

<div>
    <h4>PortfolioVM</h4>

    <div id="divChart"></div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableCapital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableCapital)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestedCapital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestedCapital)
        </dd>
    </dl>
</div>

<div id="divResult"></div>



<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="UserLayout">Back to List of Competitions</a>
    <a asp-action="FindStocks">Find stocks to buy</a>

</div>

<script>
    window.onload = function getPendingOrders() {
        console.log("running")
        //Get ID from competition
        var id = @Model.CompetitionId;
        console.log(id);
        // Make AJAX call
        var url = "/portfolio/orders/" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                $("#divResult").html(result);
                console.log("finished");
            }        

        });
    }

</script>


<script>
    window.onload = function getPendingOrders() {
        console.log("running")
        //Get ID from competition
        var id = @Model.;
        console.log(id);
        // Make AJAX call
        var url = "/chart" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                $("#divChart").html(result);
                console.log("finished");
            }

        });
    }

</script>
