@model SustainAndGain.Models.ModelViews.PortfolioVM

@{
    ViewData["Title"] = "Portfolio";
}
    <link href="~/css/Portfolio.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />
<h1>My Portfolio</h1>
<img id="PortPro" src="~/Img/PortfolioProfile.png" />
<a href='@Url.Action("Userlayout","Stocks")'>
    <img id="ArrowPro" src='@Url.Content("~/Img/ArrowProfile.png")' />
</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chartd.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<div>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="getMyHighscore()" class="w3-bar-item w3-large">Close &times;</button>
        
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>

        <div>
            <script>

            function getMyHighscore() {
                console.log("running highscores")
            //Get ID from competition
            var id = @Model.CompetitionId
            console.log(id);
            // Make AJAX call
            var url = "/highscore/" + id;
            $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
            $("#mySidebar").html(result);
            console.log("Finished HighScores");
            }

        });
            </script>

        </div>


    </div>

    <!-- Page Content -->
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
        <div class="w3-container">
            <h1>My Page</h1>
            <script>
                function w3_open() {
                    document.getElementById("mySidebar").style.display = "block";
                }

                function w3_close() {
                    document.getElementById("mySidebar").style.display = "none";
                }
            </script>
        </div>
    </div>
</div>

<div>
    <hr />
    
    <dl id="CurrentValue" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue) kr
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableCapital):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableCapital) kr
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestedCapital):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestedCapital) kr
        </dd>
    </dl>
    <div id="divChart"></div>
</div>



<div id="divPendingOrders"></div>

<div id="divHoldings"></div>

<div>
    <a asp-action="UserLayout">Back to List of Competitions</a>
    <a asp-controller="Portfolio" asp-action="FindStocks" asp-route-compId="@Model.CompetitionId">Find stocks to buy new</a>
    @*<a asp-action="FindStocks">Find stocks to buy</a>*@
</div>

<script>
    window.onload = function callWindowOnloadfunctions() {
        console.log("runningwindowonload")
        this.getPendingOrders()
        this.getMyChart()
        this.getHoldings()
    }

        function getPendingOrders() {
        console.log("runningorders")
        //Get ID from competition
        var id = @Model.CompetitionId;
        console.log(id);
        // Make AJAX call
        var url = "/portfolio/orders/" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                $("#divPendingOrders").html(result);
                console.log("finishedorders");
            }
        });
    }

        function getMyChart() {
        console.log("runningchart")
        //Get ID from competition
        var id = @Model.CompetitionId
        console.log(id);
        // Make AJAX call
        var url = "/chart/" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                $("#divChart").html(result);
                console.log("finishedchart");
            }

        });
    }

        function getHoldings() {
        console.log("runningholdings")
        //Get ID from competition
        var id = @Model.CompetitionId;
        console.log(id);
        // Make AJAX call
        var url = "/portfolio/holdings/" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                $("#divHoldings").html(result);
                console.log("finishedholdings");
            }
        });
    }

</script>
